body {
  font-family: sans-serif;
}
.navbar {
  background-color: royalblue;
  display: flex;
  padding: 16px 20px;
  height: 160px;
  font-family: sans-serif;
  font-size: 1.1em;
}
.navbar-items,
.navbar-items_right {
  display: flex;
  align-items: center;
}
.navbar__Link {
  padding-right: 8px;
}
.navbar__Link-toggle {
  display: none;
}
.navbar-items_right {
  margin-left: auto;
}
@media only screen and (max-width: 768px) {
  #image {
    width: 560px;
  }
  .navbar-items,
  .navbar {
    flex-direction: column;
  }
  .navbar-items,
  .navbar-items_right {
    display: none;
  }
  .navbar-items_right {
    margin-left: 0;
  }
  .navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}

a {
  color: #000;
  text-decoration: none;
}
.cont1 {
  display: flex;
  flex-direction: column;
  height: 600px;
  padding-top: 100px;
  padding-left: 100px;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
.cont2 {
  display: flex;
  background-color: royalblue;
  width: auto;
  height: 80px;
  justify-content: flex-start;
}
.cont2 div {
  flex-direction: row;
  margin: 10px;
  line-height: 30px;
  font-size: 1.1em;
  align-self: center;
}
button {
  width: 70%;
  background-color: RoyalBlue;
  color: white;
  padding: 13px 18px;
  margin: 8px 0px;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
}
